<h2><%= @matching_user.name %>さんとマッチングしました！</h2>

<div class="matching_user_icon">
  <%= image_tag @matching_user.icon %>
</div>

<%= link_to "#{@matching_user.name}さんにメッセージを送る", conversations_path(sender_id: current_user.id, recipient_id: @matching_user.id), method: :post%>

<div class="matching_chart"><canvas id="myChart"></canvas></div>

<script>

// 色の設定
var colorSet = {
	red: 'rgb(255, 99, 132)',
	orange: 'rgb(255, 159, 64)',
	yellow: 'rgb(255, 205, 86)',
	green: 'rgb(75, 192, 192)',
	blue: 'rgb(54, 162, 235)',
	purple: 'rgb(153, 102, 255)',
	grey: 'rgb(201, 203, 207)'
};

// 色のRGB変換
var color = Chart.helpers.color;

/*
 * チャートの初期設定
 */
var config = {
	type: 'radar',
	data: {
		labels: ["外向性", "誠実性", "協調性", "精神的安定性", "開放性", "生い立ち/環境"],
		datasets: [{
			label: "※ミスマッチ度",
			backgroundColor: color(colorSet.red).alpha(0.5).rgbString(),
			borderColor: colorSet.red,
			pointBackgroundColor: colorSet.red,
			data: [<%= @relationship.positive %>, <%= @relationship.faithful %>, <%= @relationship.cooperative %>, <%= @relationship.mental %>, <%= @relationship.curious %>, <%= @relationship.background %>]
		},]
	},
	options: {
		animation:false,
		showTooltips: false,
		legend: { position: 'bottom' },
		title: {
			display: true,
			fontSize:20,
			fontColor:'#666',
			text: "<%= @matching_user.name %>さんとのミスマッチ度 : <%= @relationship.total_score %>%"
		},
		scale: {
			display: true,
			pointLabels: {
				fontSize: 15,
				fontColor: colorSet.yellow
			},
			ticks: {
				display: true,
				fontSize: 12,
				fontColor: colorSet.green,
				min: 0,
				max: 100,
				beginAtZero: true
			},
			gridLines: {
				display: true,
				color: colorSet.yellow
			}
		}
	}
};

var myRadar = new Chart($("#myChart"), config);

</script>
