<div class="matching_page">

<h2>マッチングが成立しました！</h2>
<p><%= @matching_user.name %>さんとのミスマッチ度...</p>
<h3><span class="count" data-num="<%= @relationship.total_score %>">0</span>%</h3>

<div class="row">
<div class="matching_user_icon col-xs-6 col-md-6">
  <%= image_tag current_user.icon %>
  <div class="user_info">
    <p>名前：<%= current_user.name %></p>
    <p>自己紹介：<%= current_user.biography %></p>
  </div>
</div>

<div class="matching_user_icon col-xs-6 col-md-6">
  <%= image_tag @matching_user.icon %>
  <div class="user_info">
    <p>名前：<%= @matching_user.name %></p>
    <p>自己紹介：<%= @matching_user.biography %></p>
  </div>
</div>
</div>

<%= link_to "#{@matching_user.name}さんにメッセージを送る", conversations_path(sender_id: current_user.id, recipient_id: @matching_user.id), method: :post, class: "btn btn-danger btn-danger-ex" %>

<div class="matching_chart"><canvas id="myChart"></canvas></div>
</div>

<script>
$(function(){
    var countElm = $('.count'),
    countSpeed = 30;

    countElm.each(function(){
        var self = $(this),
        countMax = self.attr('data-num'),
        thisCount = self.text(),
        countTimer;

        function timer(){
            countTimer = setInterval(function(){
                var countNext = thisCount++;
                self.text(countNext);

                if(countNext == countMax){
                    clearInterval(countTimer);
                }
            },countSpeed);
        }
        timer();
    });

});
</script>

<script>

// 色の設定
var colorSet = {
	red: 'rgb(255, 99, 132)',
	orange: 'rgb(255, 159, 64)',
	yellow: 'rgb(255, 205, 86)',
	green: 'rgb(75, 192, 192)',
	blue: 'rgb(54, 162, 235)',
	purple: 'rgb(153, 102, 255)',
	grey: 'rgb(201, 203, 207)'
};

// 色のRGB変換
var color = Chart.helpers.color;

/*
 * チャートの初期設定
 */
var config = {
	type: 'radar',
	data: {
		labels: ["外向性", "誠実性", "協調性", "精神的安定性", "開放性", "生い立ち/環境"],
		datasets: [{
			label: "ミスマッチ度",
			backgroundColor: color(colorSet.red).alpha(0.5).rgbString(),
			borderColor: colorSet.red,
			pointBackgroundColor: colorSet.red,
			data: [<%= @relationship.positive %>, <%= @relationship.faithful %>, <%= @relationship.cooperative %>, <%= @relationship.mental %>, <%= @relationship.curious %>, <%= @relationship.background %>]
		},]
	},
	options: {
		legend: { display: false },
		title: {
			display: true,
			fontSize:20,
			fontColor:'#666',
			text: "<%= @matching_user.name %>さんとの詳細ミスマッチ度"
		},
		scale: {
			display: true,
			pointLabels: {
				fontSize: 15,
				fontColor: colorSet.yellow
			},
			ticks: {
				display: true,
				fontSize: 12,
				fontColor: colorSet.green,
				min: 0,
				max: 100,
				beginAtZero: true
			},
			gridLines: {
				display: true,
				color: colorSet.yellow
			}
		}
	}
};

var myRadar = new Chart($("#myChart"), config);

</script>
